@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jua&display=swap');

.jua-regular {
    font-family: "Jua", serif;
    font-weight: 400  !important;
    font-style: normal !important;
}